# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.env.*

# Uploaded Files
uploads/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# IDEs
.idea/
.vscode/